<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitmatch.mobile"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".FitMatchApp"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <service
            android:name=".firebase.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
